

@*@model IEnumerable<Notes.Models.Notice>*@

@{
    ViewData["Title"] = "Home Page";
}

    <div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="6000">
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
        </ol>
        <div class="carousel-inner" role="listbox" style="margin-top: 150px">
            <div class="item active" align="center">
                <img src="~/images/Bild1.PNG" alt="Bild1" class="img-responsive"/>
                <div class="carousel-caption" role="option">
                </div>
            </div>
            <div class="item" align="center">
                <img src="~/images/Bild2.PNG" alt="Bild2" class="img-responsive"/>
                <div class="carousel-caption" role="option"/>
            </div>
        </div>
        <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Zurück</span>
        </a>
        <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Nächste</span>
        </a>
    </div>

